//
// Breadcrumbs
// --------------------------------------------------


.breadcrumb {
  padding: 8px 15px;
  margin: 0 0 $baseLineHeight;
  list-style: none;
  background-color: $grayLighter;
    }
