/* line 26, ../../../radix/assets/sass/bootstrap/_mixins.scss */
.clearfix {
  *zoom: 1; }
  /* line 15, ../../../radix/assets/sass/bootstrap/_mixins.scss */
  .clearfix:before, .clearfix:after {
    display: table;
    content: "";
    line-height: 0; }
  /* line 22, ../../../radix/assets/sass/bootstrap/_mixins.scss */
  .clearfix:after {
    clear: both; }

/* line 32, ../sass/_color.scss */
body {
  color: #4f4e57; }
  /* line 34, ../sass/_color.scss */
  body a {
    color: #168dd9; }
    /* line 36, ../sass/_color.scss */
    body a:hover {
      color: #0d517c;
      text-decoration: none; }

/* line 8, ../sass/_layout.scss */
body {
  background-color: #f7f7f7; }
  /* line 11, ../sass/_layout.scss */
  body #header #navigation {
    margin-top: 0;
    margin-left: -20px;
    margin-right: -20px; }
    /* line 15, ../sass/_layout.scss */
    body #header #navigation .navbar-inner {
      background: #2fa4e7;
      border-color: #8accf2;
      margin-top: -1px;
      -webkit-border-radius: 0 0 4px 4px;
      -moz-border-radius: 0 0 4px 4px;
      border-radius: 0 0 4px 4px;
      color: white; }
      /* line 21, ../sass/_layout.scss */
      body #header #navigation .navbar-inner a.brand {
        color: white;
        text-shadow: 0 1px 0 #333333; }
  /* line 29, ../sass/_layout.scss */
  body #main-wrapper > .container {
    background-color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
    -webkit-border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0; }
  /* line 39, ../sass/_layout.scss */
  body #footer {
    color: #4f4e57;
    border-top: 1px solid #F7F7F7;
    margin-bottom: 20px; }
    /* line 43, ../sass/_layout.scss */
    body #footer > .container {
      background-color: white;
      padding-top: 20px;
      padding-bottom: 20px;
      padding-left: 20px;
      padding-right: 20px;
      -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
      -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
      box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
      -webkit-border-radius: 0 0 4px 4px;
      -moz-border-radius: 0 0 4px 4px;
      border-radius: 0 0 4px 4px; }

/* line 10, ../sass/_menu.scss */
#main-menu > ul.menu li > a {
  color: white;
  text-shadow: 0 1px 0 #333333; }
  /* line 13, ../sass/_menu.scss */
  #main-menu > ul.menu li > a.active {
    background: #178acc;
    color: white; }
  /* line 17, ../sass/_menu.scss */
  #main-menu > ul.menu li > a:hover {
    background: #178acc;
    color: white; }
/* line 23, ../sass/_menu.scss */
#main-menu > ul.menu li.open > a {
  background: #178acc;
  color: white; }
/* line 30, ../sass/_menu.scss */
#main-menu > ul.menu li > ul.menu li a {
  text-shadow: none; }
  /* line 32, ../sass/_menu.scss */
  #main-menu > ul.menu li > ul.menu li a.active {
    background-color: #c2e4f9; }
  /* line 35, ../sass/_menu.scss */
  #main-menu > ul.menu li > ul.menu li a:hover {
    background: #178acc; }

/* line 48, ../sass/_menu.scss */
.navbar .btn-navbar {
  border-color: #0d4c70;
  background-color: #157db9;
  background-image: -moz-linear-gradient(top, #178acc, #126b9e);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#178acc), to(#126b9e));
  background-image: -webkit-linear-gradient(top, #178acc, #126b9e);
  background-image: -o-linear-gradient(top, #178acc, #126b9e);
  background-image: linear-gradient(to bottom, #178acc, #126b9e);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF178ACC', endColorstr='#FF126B9E', GradientType=0); }
  /* line 51, ../sass/_menu.scss */
  .navbar .btn-navbar:hover {
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none;
    background-color: #1477b0;
    background-image: -moz-linear-gradient(top, #126b9e, #178acc);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#126b9e), to(#178acc));
    background-image: -webkit-linear-gradient(top, #126b9e, #178acc);
    background-image: -o-linear-gradient(top, #126b9e, #178acc);
    background-image: linear-gradient(to bottom, #126b9e, #178acc);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF126B9E', endColorstr='#FF178ACC', GradientType=0); }

/* line 65, ../sass/_menu.scss */
.pane-menu-tree .pane-content ul.menu li a:hover {
  background-color: #c2e4f9; }
/* line 70, ../sass/_menu.scss */
.pane-menu-tree .pane-content ul.menu li.active-trail > a {
  background-color: #168dd9; }
/* line 75, ../sass/_menu.scss */
.pane-menu-tree .pane-content ul.menu li.active-trail > ul.menu.active-trail > a {
  background-color: #c2e4f9;
  color: #168dd9; }

/* line 5, ../sass/_navbar.scss */
#navbar .navbar-bar {
  background-color: #2fa4e7; }
  /* line 11, ../sass/_navbar.scss */
  #navbar .navbar-bar .section ul.menu li a:hover, #navbar .navbar-bar .section ul.menu li a.active {
    background: white !important; }
/* line 19, ../sass/_navbar.scss */
#navbar .navbar-tray {
  background-color: #661c37; }
  /* line 27, ../sass/_navbar.scss */
  #navbar .navbar-tray .navbar-menu .fleximenu > ul.menu > li .box > a:hover {
    background: white !important; }
    /* line 29, ../sass/_navbar.scss */
    #navbar .navbar-tray .navbar-menu .fleximenu > ul.menu > li .box > a:hover i {
      background-color: #cccccc; }
  /* line 38, ../sass/_navbar.scss */
  #navbar .navbar-tray .navbar-menu .fleximenu > ul.menu > li ul.menu li a:hover {
    border-left: 60px solid #cccccc; }
  /* line 45, ../sass/_navbar.scss */
  #navbar .navbar-tray .navbar-menu .fleximenu > ul.menu > li.open > .box {
    background: white !important; }
    /* line 48, ../sass/_navbar.scss */
    #navbar .navbar-tray .navbar-menu .fleximenu > ul.menu > li.open > .box > a i {
      background-color: #cccccc; }
