// Menu
// Styles for Menus and Navs
// --------------------------------------------------

// Main Menu
// --------------------------------------------------
#main-menu {
  ul.menu {
    > li {
      > a {
        text-shadow: none;
        &:hover,
        &.active {
          color: $white;
        }
      }
      &.active-trail {
        > a {
          color: $white;
        }
      }
    }
  }
}


// Navbar
// --------------------------------------------------
.navbar {
  .navbar-inner {
    @include border-radius(0 0 4px 4px);
  }
}

// Footer Menu
// --------------------------------------------------
#footer {
  .container {
    .footer-links {
      h4 {
        color: #666666;
        text-transform: uppercase;
        letter-spacing: 1px;
        padding-left: 1px!important;
        font-size: 11px;
        line-height: 21px;
        margin-bottom: 2px;
        text-align: center;
      }
      h3 {
        color: #BBBBBB;
        font-size: 18px;
        line-height: 21px;
        margin-top: 0;
        text-align: center;
        a {
          text-decoration: none;
          color: $white;
          i {
            display: block;
            font-size: 3.0em;
            height: auto;
            line-height: 100%;
            margin: 7px auto;
            text-align: center;
            width: auto;
          }
          &:hover {
            color: #BBBBBB;
          }
        }
      }
    }
  }
}



// Pane Menu Tree
// --------------------------------------------------
.pane-menu-tree {
  .pane-content {
    ul.menu {
      li {
        a {
          &:hover {
            background-color: lighten($linkColor, 40);
          }
        }
        &.active-trail {
          > a {
            background-color: $linkColor;
          }
          > ul.menu {
            &.active-trail {
              > a {
                background-color: lighten($grayDark, 40);
                color: $linkColor;
              }
            }
          }
        }
      }
    }
  }
}

