// Journal 2.2.2
// Variables
// --------------------------------------------------
// https://raw.github.com/theblacksmith/sass-bootswatch/gh-pages/journal/_variables.scss


// Global values
// --------------------------------------------------


// Grays
// -------------------------
$black:                 #000;
$grayDarker:            #222;
$grayDark:              #777;
$gray:                  #999;
$grayLight:             #bbb;
$grayLighter:           #eee;
$white:                 #fff;


// Accent colors
// -------------------------
$blue:                  #369;
$blueDark:              darken($blue, 15%);
$green:                 #22B24C;
$red:                   #C00;
$yellow:                #FCFADB;
$orange:                #FF7F00;
$pink:                  #CC99CC;
$purple:                #7a43b6;


// Scaffolding
// -------------------------
$bodyBackground:        $white;
$mainBackground:        $white;
$footerBackground:      $white;
$textColor:             $black;


// Links
// -------------------------
$linkColor:             $blueDark;
$linkColorHover:        $blue;


// Typography
// -------------------------
$sansFontFamily:        "News Cycle", "Arial Narrow Bold", sans-serif;
$serifFontFamily:       Georgia, "Times New Roman", Times, serif;
$monoFontFamily:        Menlo, Monaco, Consolas, "Courier New", monospace;

$baseFontSize:          14px;
$baseFontFamily:        $serifFontFamily;
$baseLineHeight:        20px;
$altFontFamily:         $sansFontFamily;

$headingsFontFamily:    $sansFontFamily; // empty to use BS default, $baseFontFamily
$headingsFontWeight:    bold;    // instead of browser default, bold
$headingsColor:         $black; // empty to use BS default, $textColor


// Component sizing
// -------------------------
// Based on 14px font-size and 20px line-height

$fontSizeLarge:         $baseFontSize * 1.25; // ~18px
$fontSizeSmall:         $baseFontSize * 0.85; // ~12px
$fontSizeMini:          $baseFontSize * 0.75; // ~11px

$paddingLarge:          11px 19px; // 44px
$paddingSmall:          2px 10px;  // 26px
$paddingMini:           0px 6px;   // 22px

$baseBorderRadius:      4px;
$borderRadiusLarge:     6px;
$borderRadiusSmall:     3px;


// Tables
// -------------------------
$tableBackground:                   transparent; // overall background-color
$tableBackgroundAccent:             #f5f5f5; // for striping
$tableBackgroundHover:              $grayLighter; // for hover
$tableBorder:                       #ddd; // table and cell border

// Buttons
// -------------------------
$btnBackground:                     $white;
$btnBackgroundHighlight:            darken($white, 10%);
$btnBorder:                         darken($white, 15%);

$btnPrimaryBackground:              lighten($linkColor, 5%);
$btnPrimaryBackgroundHighlight:     $linkColor;

$btnInfoBackground:                 lighten($blue, 5%);
$btnInfoBackgroundHighlight:        $blue;

$btnSuccessBackground:              lighten($green, 5%);
$btnSuccessBackgroundHighlight:     $green;

$btnWarningBackground:              lighten($orange, 10%);
$btnWarningBackgroundHighlight:     $orange;

$btnDangerBackground:               lighten($red, 10%);
$btnDangerBackgroundHighlight:      $red;

$btnInverseBackground:              lighten($grayDark, 5%);
$btnInverseBackgroundHighlight:     $grayDark;


// Forms
// -------------------------
$inputBackground:               $white;
$inputBorder:                   #ccc;
$inputBorderRadius:             $baseBorderRadius;
$inputDisabledBackground:       $grayLighter;
$formActionsBackground:         $grayLighter;
$inputHeight:                   $baseLineHeight + 10px; // base line-height + 8px vertical padding + 2px top/bottom border


// Dropdowns
// -------------------------
$dropdownBackground:            $bodyBackground;
$dropdownBorder:                rgba(0,0,0,.2);
$dropdownDividerTop:            $grayLighter;
$dropdownDividerBottom:         $grayLighter;

$dropdownLinkColor:             $headingsColor;
$dropdownLinkColorHover:        $headingsColor;
$dropdownLinkColorActive:       $headingsColor;

$dropdownLinkBackgroundHover:   $grayLighter;
$dropdownLinkBackgroundActive:  $dropdownLinkBackgroundHover;



// COMPONENT VARIABLES
// --------------------------------------------------


// Z-index master list
// -------------------------
// Used for a bird's eye view of components dependent on the z-axis
// Try to avoid customizing these :)
$zindexDropdown:          1000;
$zindexPopover:           1010;
$zindexTooltip:           1020;
$zindexFixedNavbar:       1030;
$zindexModalBackdrop:     1040;
$zindexModal:             1050;


// Sprite icons path
// -------------------------
$iconSpritePath:          "/images/glyphicons-halflings.png";
$iconWhiteSpritePath:     "/images/glyphicons-halflings-white.png";


// Input placeholder text color
// -------------------------
$placeholderText:         $grayLight;


// Hr border color
// -------------------------
$hrBorder:                $grayLighter;


// Horizontal forms & lists
// -------------------------
$horizontalComponentOffset:       180px;


// Wells
// -------------------------
$wellBackground:                  $grayLighter;


// Navbar
// -------------------------
$navbarCollapseWidth:             979px;
$navbarCollapseDesktopWidth:      $navbarCollapseWidth + 1;

$navbarHeight:                    40px;
$navbarBackgroundHighlight:       $bodyBackground;
$navbarBackground:                $bodyBackground;
$navbarBorder:                    darken($navbarBackground, 12%);

$navbarText:                      $textColor;
$navbarLinkColor:                 $headingsColor;
$navbarLinkColorHover:            $headingsColor;
$navbarLinkColorActive:           $headingsColor;
$navbarLinkBackgroundHover:       transparent;
$navbarLinkBackgroundActive:      transparent;

$navbarBrandColor:                $navbarLinkColor;

// Inverted navbar
$navbarInverseBackground:                #111111;
$navbarInverseBackgroundHighlight:       #222222;
$navbarInverseBorder:                    #252525;

$navbarInverseText:                      $grayLight;
$navbarInverseLinkColor:                 $grayLight;
$navbarInverseLinkColorHover:            $white;
$navbarInverseLinkColorActive:           $navbarInverseLinkColorHover;
$navbarInverseLinkBackgroundHover:       transparent;
$navbarInverseLinkBackgroundActive:      $navbarInverseBackground;

$navbarInverseSearchBackground:          lighten($navbarInverseBackground, 25%);
$navbarInverseSearchBackgroundFocus:     $white;
$navbarInverseSearchBorder:              $navbarInverseBackground;
$navbarInverseSearchPlaceholderColor:    #ccc;

$navbarInverseBrandColor:                $navbarInverseLinkColor;


// Pagination
// -------------------------
$paginationBackground:                $bodyBackground;
$paginationBorder:                    #ddd;
$paginationActiveBackground:          $grayLighter;


// Hero unit
// -------------------------
$heroUnitBackground:              $grayLighter;
$heroUnitHeadingColor:            $headingsColor;
$heroUnitLeadColor:               inherit;


// Form states and alerts
// -------------------------
$warningText:             #c09853;
$warningBackground:       #fcf8e3;
$warningBorder:           darken(adjust-hue($warningBackground, -10), 3%);

$errorText:               #b94a48;
$errorBackground:         #f2dede;
$errorBorder:             darken(adjust-hue($errorBackground, -10), 3%);

$successText:             #468847;
$successBackground:       #dff0d8;
$successBorder:           darken(adjust-hue($successBackground, -10), 5%);

$infoText:                #3a87ad;
$infoBackground:          #d9edf7;
$infoBorder:              darken(adjust-hue($infoBackground, -10), 7%);


// Tooltips and popovers
// -------------------------
$tooltipColor:            #fff;
$tooltipBackground:       #000;
$tooltipArrowWidth:       5px;
$tooltipArrowColor:       $tooltipBackground;

$popoverBackground:       #fff;
$popoverArrowWidth:       10px;
$popoverArrowColor:       #fff;
$popoverTitleBackground:  darken($popoverBackground, 3%);

// Special enhancement for popovers
$popoverArrowOuterWidth:  $popoverArrowWidth + 1;
$popoverArrowOuterColor:  rgba(0,0,0,.25);



// GRID
// --------------------------------------------------


// Default 940px grid
// -------------------------
$gridColumns:             12;
$gridColumnWidth:         60px;
$gridGutterWidth:         20px;
$gridRowWidth:            ($gridColumns * $gridColumnWidth) + ($gridGutterWidth * ($gridColumns - 1));

// 1200px min
$gridColumnWidth1200:     70px;
$gridGutterWidth1200:     30px;
$gridRowWidth1200:        ($gridColumns * $gridColumnWidth1200) + ($gridGutterWidth1200 * ($gridColumns - 1));

// 768px-979px
$gridColumnWidth768:      42px;
$gridGutterWidth768:      20px;
$gridRowWidth768:         ($gridColumns * $gridColumnWidth768) + ($gridGutterWidth768 * ($gridColumns - 1));


// Fluid grid
// -------------------------
$fluidGridColumnWidth:    percentage($gridColumnWidth/$gridRowWidth);
$fluidGridGutterWidth:    percentage($gridGutterWidth/$gridRowWidth);

// 1200px min
$fluidGridColumnWidth1200:     percentage($gridColumnWidth1200/$gridRowWidth1200);
$fluidGridGutterWidth1200:     percentage($gridGutterWidth1200/$gridRowWidth1200);

// 768px-979px
$fluidGridColumnWidth768:      percentage($gridColumnWidth768/$gridRowWidth768);
$fluidGridGutterWidth768:      percentage($gridGutterWidth768/$gridRowWidth768);
