//
// Color
// --------------------------------------------------

// Navbar
$navbar-background-color: #2fa4e7;
$navbar-tray-background-color: #661c37;
$navbar-link-color: #ffffff;
$navbar-color:#FFFFFF;
$brand-color: #FFFFFF;

$header-background-color: #2fa4e7;


// General
$body-background-color: #F7F7F7;
$main-background-color: #FFFFFF;
$footer-background-color: #2fa4e7;

// Text
$text-color: #4F4E57;
$link-color: #168DD9;
$link-hover-color: darken($link-color, 20);
$footer-color: #4F4E57;





// Body

body {
  color: $text-color;
  a {
    color: $link-color;
    &:hover {
      color: $link-hover-color;
      text-decoration: none;
    }
  }
}
