// Layout
// --------------------------------------------------

body {
  #header {
    #navigation {
      margin-top: 0;
      margin-left: 0 - $gridGutterWidth;
      margin-right: 0 - $gridGutterWidth;
    }
  }
  #main-wrapper {
    > .container {
      background-color: $mainBackground;
      padding-top: $gridGutterWidth;
      padding-bottom: $gridGutterWidth;
      padding-left: $gridGutterWidth;
      padding-right: $gridGutterWidth;
      @include box-shadow(0 0px 4px rgba(0, 0, 0, 0.065));
      @include border-radius(4px 4px 0 0);
    }
  }
  #footer {
    color: lighten($textColor, 50);
    margin-bottom: 20px;
    > .container {
      background-color: $footerBackground;
      border-top: 1px solid #F7F7F7;
      padding-top: $gridGutterWidth;
      padding-bottom: $gridGutterWidth;
      padding-left: $gridGutterWidth;
      padding-right: $gridGutterWidth;
      @include box-shadow(0 1px 4px rgba(0, 0, 0, 0.065));
      @include border-radius(0 0 4px 4px);
    }
  }
}

@media (min-width: 768px) and (max-width: 979px) {
  // Tablet
}

@media (max-width: 767px) {
  body {
    #header {
      #navigation {
        margin-left: auto;
        margin-right: auto;
      }
    }
  }
}




li a.active {
  color: $gray;
}


/* line 6, ../../../../../../../../.rvm/gems/ruby-1.9.3-p385/gems/compass_twitter_bootstrap-2.2.2.2/stylesheets/compass_twitter_bootstrap/_breadcrumbs.scss */
.breadcrumb {
  padding: 8px 15px;
  margin: 0 0 21px;
  list-style: none;
  background-color: $grayDark;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px; }
/* line 12, ../../../../../../../../.rvm/gems/ruby-1.9.3-p385/gems/compass_twitter_bootstrap-2.2.2.2/stylesheets/compass_twitter_bootstrap/_breadcrumbs.scss */
.breadcrumb > li {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  text-shadow: 0 1px 0 white; }
/* line 16, ../../../../../../../../.rvm/gems/ruby-1.9.3-p385/gems/compass_twitter_bootstrap-2.2.2.2/stylesheets/compass_twitter_bootstrap/_breadcrumbs.scss */
.breadcrumb > li > .divider {
  padding: 0 5px;
  color: #ccc; }
/* line 21, ../../../../../../../../.rvm/gems/ruby-1.9.3-p385/gems/compass_twitter_bootstrap-2.2.2.2/stylesheets/compass_twitter_bootstrap/_breadcrumbs.scss */
.breadcrumb > .active {
  color: $white; }



/* hacks due to compass radix ctools plugins removal of menu tree*/

/* line 124, ../../../../../../../../.rvm/gems/ruby-1.9.3-p385/gems/compass_radix-0.0.7/stylesheets/compass_radix/_menu.scss */
.pane-menu-tree {
  padding: 0;
  background-color: $navbarBackground;
  margin: 0 0 30px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065); }
/* line 130, ../../../../../../../../.rvm/gems/ruby-1.9.3-p385/gems/compass_radix-0.0.7/stylesheets/compass_radix/_menu.scss */
.pane-menu-tree .pane-title {
  padding: 8px 14px;
  margin: 0 0 -1px;
  border: 1px solid $navbarBorder; }
/* line 136, ../../../../../../../../.rvm/gems/ruby-1.9.3-p385/gems/compass_radix-0.0.7/stylesheets/compass_radix/_menu.scss */
.pane-menu-tree .pane-content ul.menu {
  margin: 0;
  padding: 0; }
/* line 139, ../../../../../../../../.rvm/gems/ruby-1.9.3-p385/gems/compass_radix-0.0.7/stylesheets/compass_radix/_menu.scss */
.pane-menu-tree .pane-content ul.menu li {
  list-style: none outside none;
  margin: 0;
  padding: 0; }
/* line 143, ../../../../../../../../.rvm/gems/ruby-1.9.3-p385/gems/compass_radix-0.0.7/stylesheets/compass_radix/_menu.scss */
.pane-menu-tree .pane-content ul.menu li a {
  display: block;
  margin: 0 0 -1px;
  padding: 8px 14px;
  border: 1px solid $navbarBorder; }
/* line 148, ../../../../../../../../.rvm/gems/ruby-1.9.3-p385/gems/compass_radix-0.0.7/stylesheets/compass_radix/_menu.scss */
.pane-menu-tree .pane-content ul.menu li a:hover {
  background-color: $navbarLinkBackgroundHover;
  text-decoration: none; }
/* line 154, ../../../../../../../../.rvm/gems/ruby-1.9.3-p385/gems/compass_radix-0.0.7/stylesheets/compass_radix/_menu.scss */
.pane-menu-tree .pane-content ul.menu li.active-trail > a {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
  background-color: $navbarLinkBackgroundActive; }
/* line 159, ../../../../../../../../.rvm/gems/ruby-1.9.3-p385/gems/compass_radix-0.0.7/stylesheets/compass_radix/_menu.scss */
.pane-menu-tree .pane-content ul.menu li.active-trail > ul.menu {
  display: block; }
/* line 162, ../../../../../../../../.rvm/gems/ruby-1.9.3-p385/gems/compass_radix-0.0.7/stylesheets/compass_radix/_menu.scss */
.pane-menu-tree .pane-content ul.menu li.active-trail > ul.menu li a {
  padding-left: 30px; }
/* line 166, ../../../../../../../../.rvm/gems/ruby-1.9.3-p385/gems/compass_radix-0.0.7/stylesheets/compass_radix/_menu.scss */
.pane-menu-tree .pane-content ul.menu li.active-trail > ul.menu li.active-trail > a {
  background-color: $navbarBackground;
  color: $linkColor;
  text-shadow: none; }
/* line 176, ../../../../../../../../.rvm/gems/ruby-1.9.3-p385/gems/compass_radix-0.0.7/stylesheets/compass_radix/_menu.scss */
.pane-menu-tree .pane-content ul.menu ul.menu {
  display: none; }




/* line 6, ../../../../../../../../.rvm/gems/ruby-1.9.3-p385/gems/compass_twitter_bootstrap-2.2.2.2/stylesheets/compass_twitter_bootstrap/_pagination.scss */
.pagination {
  margin: 21px 0; }

/* line 10, ../../../../../../../../.rvm/gems/ruby-1.9.3-p385/gems/compass_twitter_bootstrap-2.2.2.2/stylesheets/compass_twitter_bootstrap/_pagination.scss */
.pagination ul {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  margin-left: 0;
  margin-bottom: 0;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05); }

/* line 21, ../../../../../../../../.rvm/gems/ruby-1.9.3-p385/gems/compass_twitter_bootstrap-2.2.2.2/stylesheets/compass_twitter_bootstrap/_pagination.scss */
.pagination ul > li {
  display: inline; }

/* line 25, ../../../../../../../../.rvm/gems/ruby-1.9.3-p385/gems/compass_twitter_bootstrap-2.2.2.2/stylesheets/compass_twitter_bootstrap/_pagination.scss */
.pagination ul > li > a,
.pagination ul > li > span {
  float: left;
  padding: 4px 12px;
  line-height: 21px;
  text-decoration: none;
  background-color: $wellBackground;
  border: 1px solid #dddddd;
  border-left-width: 0; }

/* line 36, ../../../../../../../../.rvm/gems/ruby-1.9.3-p385/gems/compass_twitter_bootstrap-2.2.2.2/stylesheets/compass_twitter_bootstrap/_pagination.scss */
.pagination ul > li > a:hover,
.pagination ul > .active > a,
.pagination ul > .active > span {
  background-color: $navbarBrandColor; }

/* line 40, ../../../../../../../../.rvm/gems/ruby-1.9.3-p385/gems/compass_twitter_bootstrap-2.2.2.2/stylesheets/compass_twitter_bootstrap/_pagination.scss */
.pagination ul > .active > a,
.pagination ul > .active > span {
  color: $textColor;
  cursor: default; }

/* line 46, ../../../../../../../../.rvm/gems/ruby-1.9.3-p385/gems/compass_twitter_bootstrap-2.2.2.2/stylesheets/compass_twitter_bootstrap/_pagination.scss */
.pagination ul > .disabled > span,
.pagination ul > .disabled > a,
.pagination ul > .disabled > a:hover {
  color: $textColor;
  background-color: transparent;
  cursor: default; }

/* line 52, ../../../../../../../../.rvm/gems/ruby-1.9.3-p385/gems/compass_twitter_bootstrap-2.2.2.2/stylesheets/compass_twitter_bootstrap/_pagination.scss */
.pagination ul > li:first-child > a,
.pagination ul > li:first-child > span {
  border-left-width: 1px;
  -webkit-border-top-left-radius: 4px;
  -moz-border-radius-topleft: 4px;
  border-top-left-radius: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
  border-bottom-left-radius: 4px; }

/* line 57, ../../../../../../../../.rvm/gems/ruby-1.9.3-p385/gems/compass_twitter_bootstrap-2.2.2.2/stylesheets/compass_twitter_bootstrap/_pagination.scss */
.pagination ul > li:last-child > a,
.pagination ul > li:last-child > span {
  -webkit-border-top-right-radius: 4px;
  -moz-border-radius-topright: 4px;
  border-top-right-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  border-bottom-right-radius: 4px; }

/* line 65, ../../../../../../../../.rvm/gems/ruby-1.9.3-p385/gems/compass_twitter_bootstrap-2.2.2.2/stylesheets/compass_twitter_bootstrap/_pagination.scss */
.pagination-centered {
  text-align: center; }

/* line 68, ../../../../../../../../.rvm/gems/ruby-1.9.3-p385/gems/compass_twitter_bootstrap-2.2.2.2/stylesheets/compass_twitter_bootstrap/_pagination.scss */
.pagination-right {
  text-align: right; }

/* line 79, ../../../../../../../../.rvm/gems/ruby-1.9.3-p385/gems/compass_twitter_bootstrap-2.2.2.2/stylesheets/compass_twitter_bootstrap/_pagination.scss */
.pagination-large ul > li > a,
.pagination-large ul > li > span {
  padding: 11px 19px;
  font-size: 17.5px; }
/* line 84, ../../../../../../../../.rvm/gems/ruby-1.9.3-p385/gems/compass_twitter_bootstrap-2.2.2.2/stylesheets/compass_twitter_bootstrap/_pagination.scss */
.pagination-large ul > li:first-child > a,
.pagination-large ul > li:first-child > span {
  -webkit-border-top-left-radius: 6px;
  -moz-border-radius-topleft: 6px;
  border-top-left-radius: 6px;
  -webkit-border-bottom-left-radius: 6px;
  -moz-border-radius-bottomleft: 6px;
  border-bottom-left-radius: 6px; }
/* line 88, ../../../../../../../../.rvm/gems/ruby-1.9.3-p385/gems/compass_twitter_bootstrap-2.2.2.2/stylesheets/compass_twitter_bootstrap/_pagination.scss */
.pagination-large ul > li:last-child > a,
.pagination-large ul > li:last-child > span {
  -webkit-border-top-right-radius: 6px;
  -moz-border-radius-topright: 6px;
  border-top-right-radius: 6px;
  -webkit-border-bottom-right-radius: 6px;
  -moz-border-radius-bottomright: 6px;
  border-bottom-right-radius: 6px; }

/* line 97, ../../../../../../../../.rvm/gems/ruby-1.9.3-p385/gems/compass_twitter_bootstrap-2.2.2.2/stylesheets/compass_twitter_bootstrap/_pagination.scss */
.pagination-mini ul > li:first-child > a,
.pagination-mini ul > li:first-child > span,
.pagination-small ul > li:first-child > a,
.pagination-small ul > li:first-child > span {
  -webkit-border-top-left-radius: 3px;
  -moz-border-radius-topleft: 3px;
  border-top-left-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -moz-border-radius-bottomleft: 3px;
  border-bottom-left-radius: 3px; }
/* line 101, ../../../../../../../../.rvm/gems/ruby-1.9.3-p385/gems/compass_twitter_bootstrap-2.2.2.2/stylesheets/compass_twitter_bootstrap/_pagination.scss */
.pagination-mini ul > li:last-child > a,
.pagination-mini ul > li:last-child > span,
.pagination-small ul > li:last-child > a,
.pagination-small ul > li:last-child > span {
  -webkit-border-top-right-radius: 3px;
  -moz-border-radius-topright: 3px;
  border-top-right-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
  -moz-border-radius-bottomright: 3px;
  border-bottom-right-radius: 3px; }

/* line 109, ../../../../../../../../.rvm/gems/ruby-1.9.3-p385/gems/compass_twitter_bootstrap-2.2.2.2/stylesheets/compass_twitter_bootstrap/_pagination.scss */
.pagination-small ul > li > a,
.pagination-small ul > li > span {
  padding: 2px 10px;
  font-size: 11.9px; }

/* line 117, ../../../../../../../../.rvm/gems/ruby-1.9.3-p385/gems/compass_twitter_bootstrap-2.2.2.2/stylesheets/compass_twitter_bootstrap/_pagination.scss */
.pagination-mini ul > li > a,
.pagination-mini ul > li > span {
  padding: 0 6px;
  font-size: 10.5px; }

/* line 6, ../../../../../../../../.rvm/gems/ruby-1.9.3-p385/gems/compass_twitter_bootstrap-2.2.2.2/stylesheets/compass_twitter_bootstrap/_pager.scss */
.pager {
  margin: 21px 0;
  list-style: none;
  text-align: center;
  *zoom: 1; }
/* line 15, ../../../../../../../../.rvm/gems/ruby-1.9.3-p385/gems/compass_twitter_bootstrap-2.2.2.2/stylesheets/compass_twitter_bootstrap/_mixins.scss */
.pager:before, .pager:after {
  display: table;
  content: "";
  line-height: 0; }
/* line 22, ../../../../../../../../.rvm/gems/ruby-1.9.3-p385/gems/compass_twitter_bootstrap-2.2.2.2/stylesheets/compass_twitter_bootstrap/_mixins.scss */
.pager:after {
  clear: both; }

/* line 12, ../../../../../../../../.rvm/gems/ruby-1.9.3-p385/gems/compass_twitter_bootstrap-2.2.2.2/stylesheets/compass_twitter_bootstrap/_pager.scss */
.pager li {
  display: inline; }

/* line 16, ../../../../../../../../.rvm/gems/ruby-1.9.3-p385/gems/compass_twitter_bootstrap-2.2.2.2/stylesheets/compass_twitter_bootstrap/_pager.scss */
.pager li > a,
.pager li > span {
  display: inline-block;
  padding: 5px 14px;
  background-color: $navbarBackground;
  border: 1px solid #dddddd;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px; }

/* line 23, ../../../../../../../../.rvm/gems/ruby-1.9.3-p385/gems/compass_twitter_bootstrap-2.2.2.2/stylesheets/compass_twitter_bootstrap/_pager.scss */
.pager li > a:hover {
  text-decoration: none;
  background-color: $navbarLinkColorHover; }

/* line 28, ../../../../../../../../.rvm/gems/ruby-1.9.3-p385/gems/compass_twitter_bootstrap-2.2.2.2/stylesheets/compass_twitter_bootstrap/_pager.scss */
.pager .next > a,
.pager .next > span {
  float: right; }

/* line 32, ../../../../../../../../.rvm/gems/ruby-1.9.3-p385/gems/compass_twitter_bootstrap-2.2.2.2/stylesheets/compass_twitter_bootstrap/_pager.scss */
.pager .previous > a,
.pager .previous > span {
  float: left; }

/* line 37, ../../../../../../../../.rvm/gems/ruby-1.9.3-p385/gems/compass_twitter_bootstrap-2.2.2.2/stylesheets/compass_twitter_bootstrap/_pager.scss */
.pager .disabled > a,
.pager .disabled > a:hover,
.pager .disabled > span {
  color: #7a8288;
  background-color: $wellBackground;
  cursor: default; }


table {
  max-width: 100%;
  background-color: $wellBackground;
  border-collapse: collapse;
  border-spacing: 0; }

/* line 24, ../../../../../../../../.rvm/gems/ruby-1.9.3-p385/gems/compass_twitter_bootstrap-2.2.2.2/stylesheets/compass_twitter_bootstrap/_tables.scss */
.table th,
.table td {
  padding: 8px;
  line-height: 21px;
  text-align: left;
  vertical-align: top;
  background-color: $wellBackground;
  border-top: 1px solid #dddddd; }


/* line 152, ../../../../../../../../.rvm/gems/ruby-1.9.3-p385/gems/compass_twitter_bootstrap-2.2.2.2/stylesheets/compass_twitter_bootstrap/_tables.scss */
.table-striped tbody > tr:nth-child(odd) > td {
  background-color: $wellBackground; }
.table-striped tbody > tr:nth-child(odd) > th {
  background-color: $wellBackground; }

/* line 165, ../../../../../../../../.rvm/gems/ruby-1.9.3-p385/gems/compass_twitter_bootstrap-2.2.2.2/stylesheets/compass_twitter_bootstrap/_tables.scss */
.table-hover tbody tr:hover td {
  background-color: $wellBackground; }
.table-hover tbody tr:hover th {
  background-color: $grayDarker; }